<ion-header>
    <ion-toolbar>
      <ion-title>Hom<span id = "corlogo">my</span></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="card1">

  </ion-card>

  <ion-card class="comentarios">
    <ion-card-header>
        <ion-card-title>Comentários</ion-card-title>
      </ion-card-header>
    <ion-card-content>
        <div>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </div>
        <div>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </div>
      </ion-card-content>
  </ion-card>