#corlogo{
    color: #1877F2;
}

.card1{
    background-color: white;
    font-family: "Roboto", Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

.comentarios{
    background-color: white;
    font-family: "Roboto", Helvetica, sans-serif;
    
}