<ion-header>
  <ion-toolbar>
    <ion-title>Hom<span id = "corlogo">my</span></ion-title>
  </ion-toolbar>
</ion-header>

<div class = "linkPerfil"><a href>Visite o seu perfil clicando aqui!</a></div>

<ion-card class = "card1">

  <ion-card-content>
    <div>
    <img class= "imgCard" src ="assets/img/casa1.png"height="100px" width="150px">
    </div>
    <div>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </div>
  </ion-card-content>
</ion-card>

<ion-card class = 'card1'>

  <ion-card-content>
    <div>
      <img class= "imgCard" src ="assets/img/casa2.png"height="100px" width="150px">
      </div>
      <div>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </div>
  </ion-card-content>
</ion-card>