.card1{
    background-color: white;
    font-family: "Roboto", Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
}

.imgCard{
    
    border-radius: 5px;
}

#corlogo{
    color: #1877F2;
}

.linkPerfil{
    align-items: center;
    text-align: center;
}